@font-face {
    font-family: PT Serif;
    src: url(PTSerif-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: PT Serif;
    src: url(PTSerif-Bold.ttf) format('truetype');
    font-weight: bold;
}
